.Default-Card{
    max-width:30%;
    height: auto;
    position: fixed;
    transition: all 1s linear;
}
.mat-card-image{
    object-fit: cover;    
    width: 20%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.fullscreen {
    width: 100%;
    height: 100%;  
    position: fixed;
    transition: all 1s linear; 
}


 