address{
    display: block;
    font-style: italic;
    color: white;
}

@media (max-width: 767px) {
    .navbar-toggleable-sm {
      clear: both;
    }
  }
.navbar {
    margin-bottom: 0 !important;
  }

.nav-color{
  background: linear-gradient(to bottom right, rgba(34, 91, 197, 0.719), rgb(41, 125, 146)) !important;
}
