<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">M5 Systems, inc.</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/about-us">About Us</a>
      <a class="nav-item nav-link" href="/cloud-consulting">Cloud Consulting</a>
      <a class="nav-item nav-link" href="/other-services">Other Services</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://www.linkedin.com/company/m5-systems-inc./" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
      
    </div>
  </div>
</nav>