<!-- main app container -->
<p>it works</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <input type="text" 
    class="form-control" 
    name="company-name"
    ngModel
    #nameField="ngModel"
    required
    minlength="3">
    <div *ngIf="nameField.touched && nameField.errors"></div>
    <div class="alert alert-danger" 
     *ngIf="nameField.errors.required">
     The company name is required
</div>
<div class="alert alert-danger" 
     *ngIf="nameField.errors.minlength">
     The company name should be at least 3 characters long
</div>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>