html, body {
    width: 100%;
    margin: 0px;
    padding: 0;
}

.remove-all-margin-padding {
    margin: 0 ! important;
    padding: 0 ! important;
}

.container-fluid {
    padding: 0px;
  }
  
  @media (max-width: 797px) {
    body { 
        padding-left: 0px;
        padding-right: 0px;
    }
  }