<div class='about-us__header'>
  <h2 class='about-us__header__title'>About Us</h2>
</div>

<div class='about-us__descriptions'>
  <p>M5 Systems is a provider of Information Technology solutions and services to large and small organizations since 1997. Our consulting team is among the most experienced in the business, comprised of project management experts, IT architects.</p>
  <p>All of our consultants combine extensive practical experience, developed over many years working in mission-critical environments, with knowledge gained from continuous research into emerging technologies and industry trends.</p>
  <p>It is this combination of knowledge and experience that enables us to provide the critical and innovative advice customers need to make sound technology decisions, and the expert assistance they need to ensure their decisions are implemented properly.</p>
  <p>M5 provides professional services and technology expertise for all phases of the Information Technology life cycle, including business requirements and cost analysis, technology and vendor evaluation, project management, design and implementation, troubleshooting, and training.
  <br>
  <button (click)="contactUs()" class="btn about-us__descriptions_button">Contact Us</button>
  </p>
</div>

<img class='about-us__apn-logo' alt='Amazon Partner Logo'  src='/assets/logo-apn-consulting.png'>